@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Outfit', sans-serif;
    background-color: #fcfbfc;
    overflow-x: hidden;
}

button:disabled {
    cursor: not-allowed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply bg-white rounded-xl shadow p-4;
    }

    .card-btn {
        @apply px-3 py-1.5 flex items-center gap-2 rounded-lg border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-100 transition;
    }

    @layer components {
        .add-btn {
            @apply flex items-center gap-2 px-3 py-2 rounded-lg bg-green-100 text-green-700 font-semibold text-sm hover:bg-green-200 transition;
        }
    }
}